.slide-in-up {
  animation: slideInUp ease-in-out 800ms;
}

.slide-in-down {
  animation: slideInDown ease-in-out 800ms;
}

.fade-in-bottom-left {
  animation: fadeInBottomLeft ease-in-out 800ms;
}

.fade-in-bottom-right {
  animation: fadeInBottomRight ease-in-out 800ms;
}

.slide-in-right {
  animation: slideInRight ease-in-out 300ms;
}

.slide-in-left {
  animation: slideInLeft ease-in-out 800ms;
}

.fade-in {
  animation: fadeIn ease-in 400ms;
}

.fade-out {
  animation: fadeOut ease-in 800ms;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeInBottomLeft {
  from {
    transform: translate3d(-100%, 100%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInBottomRight {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-100%, 100%, 0);
  }
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes animateDash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes slideInUpText {
  from {
    opacity: 0;
    transform: translate3d(0, 200px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDownText {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, 200px, 0);
  }
}


