/*--------------------------------------------------------------
CSS Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
CSS Breakpoints
--------------------------------------------------------------*/
/*--------------------------------------------------------------
CSS Reset
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;0,800;1,600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

h1,
h2,
h3,
p {
  margin: 0; }

body {
  margin: 0;
  font-family: "Montserrat", Arial, sans-serif; }

.slide-in-up {
  animation: slideInUp ease-in-out 800ms; }

.slide-in-down {
  animation: slideInDown ease-in-out 800ms; }

.fade-in-bottom-left {
  animation: fadeInBottomLeft ease-in-out 800ms; }

.fade-in-bottom-right {
  animation: fadeInBottomRight ease-in-out 800ms; }

.slide-in-right {
  animation: slideInRight ease-in-out 300ms; }

.slide-in-left {
  animation: slideInLeft ease-in-out 800ms; }

.fade-in {
  animation: fadeIn ease-in 400ms; }

.fade-out {
  animation: fadeOut ease-in 800ms; }

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0); }
  to {
    transform: translate3d(0, 0, 0); } }
@keyframes slideInDown {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    transform: translate3d(0, 100%, 0); } }
@keyframes fadeInBottomLeft {
  from {
    transform: translate3d(-100%, 100%, 0); }
  to {
    transform: translate3d(0, 0, 0); } }
@keyframes fadeInBottomRight {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    transform: translate3d(-100%, 100%, 0); } }
@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0); }
  to {
    transform: translate3d(0, 0, 0); } }
@keyframes slideInLeft {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    transform: translate3d(100%, 0, 0); } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes animateDash {
  to {
    stroke-dashoffset: 0; } }
@keyframes slideInUpText {
  from {
    opacity: 0;
    transform: translate3d(0, 200px, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
@keyframes slideInDownText {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0); }
  to {
    opacity: 0;
    transform: translate3d(0, 200px, 0); } }
.nav-right-pane, .nav-social-icons, .hero {
  display: flex;
  align-items: center;
  justify-content: center; }

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 22px;
  z-index: 2; }
  @media (min-width: 768px) {
    header {
      padding: 27px 36px; } }
  header .logo {
    position: relative; }

.nav-container {
  display: none; }
  .nav-container.active {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
.nav-right-pane {
  position: relative;
  width: 60vw;
  background-color: #000; }
  @media (min-width: 768px) {
    .nav-right-pane {
      width: 50vw; } }
  .nav-right-pane .language-switch {
    display: none; }
    @media (min-width: 768px) {
      .nav-right-pane .language-switch {
        position: absolute;
        top: 32px;
        left: 32px;
        display: flex;
        align-items: center;
        color: #ffa800; } }
    .nav-right-pane .language-switch-item {
      font-style: italic;
      font-weight: 600;
      font-size: 14px;
      text-decoration: none;
      color: #ffa800; }
    .nav-right-pane .language-switch-separator {
      padding: 0 6px 0 8px; }
.nav-left-pane {
  width: 40vw; }
  @media (min-width: 768px) {
    .nav-left-pane {
      width: 50vw; } }
  .nav-left-pane-image {
    background-image: url("../assets/nav-img.jpg");
    background-size: cover;
    width: 100%;
    height: 100%; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .nav-left-pane-image {
        background-image: url("../assets/nav-img-tablet.jpg"); } }
    @media (min-width: 1024px) {
      .nav-left-pane-image {
        background-image: url("../assets/nav-img-desktop.jpg"); } }
    .nav-left-pane-image-wrapper {
      height: 60vh;
      overflow: hidden; }
      @media (min-width: 1024px) {
        .nav-left-pane-image-wrapper {
          height: 75vh; } }
  .nav-left-pane-footer {
    display: flex;
    height: 40vh; }
    @media (min-width: 1024px) {
      .nav-left-pane-footer {
        height: 25vh; } }
.nav-social-container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden; }
  @media (min-width: 768px) {
    .nav-social-container {
      width: 35%; } }
  @media (min-width: 1024px) {
    .nav-social-container {
      width: 25%; } }
.nav-social-icons {
  flex-direction: column;
  height: 100%;
  background-color: #ffa800; }
  @media (min-width: 768px) {
    .nav-social-icons {
      background-color: #000; } }
  .nav-social-icons .social-icon {
    cursor: pointer;
    width: 40px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: animateDash 2s ease-in-out alternate infinite;
    color: #000;
    pointer-events: none; }
    @media (min-width: 768px) {
      .nav-social-icons .social-icon {
        color: #ffa800; } }
    .nav-social-icons .social-icon:not(:last-child) {
      margin-bottom: 1.5rem; }
.nav-text {
  max-width: 300px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: white; }
  .nav-text-container {
    display: none; }
    @media (min-width: 768px) {
      .nav-text-container {
        width: 65%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffa800;
        width: 75%;
        padding: 1.5rem; } }
.nav-items {
  text-align: center; }
.nav-item {
  display: block;
  text-shadow: -1.2px 0 #ffa800, 0 1.2px #ffa800, 1.2px 0 #ffa800, 0 -1.2px #ffa800;
  color: #000;
  font-size: 36px;
  letter-spacing: 3px;
  text-decoration: none;
  transition: .3s ease;
  opacity: 1; }
  @media (min-width: 768px) {
    .nav-item {
      font-size: 70px; } }
  .nav-item:hover {
    text-shadow: none;
    color: #ffa800; }
  .nav-item:not(:last-child) {
    margin-bottom: 2.5rem; }

.hero {
  height: 100vh;
  width: 100vw; }
  @media (min-width: 0) and (max-width: 767px) {
    .hero {
      background-image: url("../assets/mobile-bg.jpg");
      background-size: cover; } }
  .hero-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16vmin; }
  .hero-video-bg {
    display: none; }
    @media (min-width: 768px) {
      .hero-video-bg {
        display: block;
        height: 100vh;
        object-fit: cover;
        position: absolute;
        right: 0;
        top: 0;
        width: 40vw;
        z-index: -1; } }

.burger-menu {
  cursor: pointer;
  width: 60px;
  height: 45px;
  transform: scale(0.5);
  transition: .5s ease-in-out; }
  .burger-menu span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #000;
    border-radius: 9px;
    left: 0;
    transition: all .25s ease-in-out; }
    .burger-menu span:nth-child(1) {
      top: 0;
      transform-origin: left center; }
    .burger-menu span:nth-child(2) {
      top: 18px;
      transform-origin: left center; }
    .burger-menu span:nth-child(3) {
      top: 36px;
      transform-origin: left center; }
  .burger-menu.open span {
    background-color: #ffa800; }
  .burger-menu.open span:nth-child(1) {
    transform: rotate(45deg);
    top: -3px;
    left: 8px; }
  .burger-menu.open span:nth-child(2) {
    width: 0;
    opacity: 0; }
  .burger-menu.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 39px;
    left: 8px; }

/*# sourceMappingURL=main.css.map */
